.jumbotron{
    text-align: center;
    background-color: #81a9d4;
}

.jumbotron h1 {
    font-size: 2.5rem;
    font-weight: bolder;
}

.container{
    text-align: center;
}


.filders{
    margin: 10px;
}

.invisivel{
    display: none;
}

#buttonCancel{
    display: none;
    margin-top: 20px;
}

.listaProdutos{
    margin-top: 30px;
}

.listaProdutos h2{
    margin-bottom: 20px;
}